################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

[Bb]in/
[Oo]bj/
.vs/
/packages
*.csproj.user
UpgradeLog*.htm
[Bb]ackup/
TestResults/
